<h1>Guess Who?</h1>
<div class="columns-2">
  <hc-tile>
    <hc-form-field>
      <hc-label>Game Code:</hc-label>
      <input hcInput [formControl]="gameCodeControl" required />
    </hc-form-field>
    <!-- <button
      hc-button
      buttonStyle="secondary"
      (click)="newGame(gameCodeControl.value)"
    >
      Reset
    </button> -->
  </hc-tile>
  <hc-tile *ngIf="yourPerson">
    <h4>Your Person</h4>
    <app-person [person]="yourPerson"></app-person>
  </hc-tile>
</div>
<hc-tile *ngIf="gamePeople">
  <h4>All People</h4>
  <div class="wrap">
    <app-person
      *ngFor="let person of gamePeople"
      [person]="person"
    ></app-person>
  </div>
</hc-tile>
